<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h1>Dias de Corrida</h1>

<ul>
  <% @race_days.each do |race_day| %>
    <li>
      <%= link_to "#{race_day.track} - #{race_day.date.strftime('%d/%m/%Y')}", race_day_path(race_day), class: 'btn btn-primary' %>
    </li>
  <% end %>
</ul>

<style>
body{
  color: white;
  background-color: #283e51d4;
}
</style>