<footer class="footer">
        <div class="social-media">
            <a href="https://discord.com/invite/DnevxdbDgy" target="_blank" class="social-icon" aria-label="Discord">
                <i class="fab fa-discord"></i>
            </a>
            <a href="https://www.instagram.com/undercontrolracingbr/" target="_blank" class="social-icon" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </footer>

<style>
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
}

/* Estilo dos ícones de redes sociais */
.social-media {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.social-icon {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: red;
}
</style>
