<%= render 'shared/navbar' %>

<div class="planos">
  <section class="card">
    <header>
      <h2 class="title">Premium</h2>
      <h1 class="price">R$ 10,00</h1>
    </header>
    <p class="desc">10 slots</p>
    <p class="desc">* O período de contrato de patrocínio tem vigência de 6 meses. Como estamos em lançamento, serão 7 meses para os primeiros patrocinadores, com 20% de desconto para as renovações.</p>
    <ul class="lists">
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Exposição da marca nos carros da equipe</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Promoção em nossas redes sociais</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Presença no nosso site</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Menção nas transmissões ao vivo dos pilotos</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Anúncio nos nossos cards</p>
      </li>
    </ul>
    <button class="action" type="button">Solicite</button>
  </section>

  <section class="card">
    <header>
      <h2 class="title">Master</h2>
      <h1 class="price">R$ 50,00</h1>
    </header>
    <p class="desc">4 slots</p>
    <p class="desc">* O período de contrato de patrocínio tem vigência de 6 meses. Como estamos em lançamento, serão 7 meses para os primeiros patrocinadores, com 20% de desconto para as renovações.</p>
    <ul class="lists">
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Exposição da marca nos carros da equipe</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Promoção em nossas redes sociais</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Presença no nosso site</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Menção nas transmissões ao vivo dos pilotos</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Anúncio nos nossos cards</p>
      </li>
    </ul>
    <button class="action" type="button">Solicite</button>
  </section>

  <section class="card">
    <header>
      <h2 class="title">Gold</h2>
      <h1 class="price">R$ 100,00</h1>
    </header>
    <p class="desc">2 slots</p>
    <p class="desc">* O período de contrato de patrocínio tem vigência de 6 meses. Como estamos em lançamento, serão 7 meses para os primeiros patrocinadores, com 20% de desconto para as renovações.</p>
    <ul class="lists">
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Exposição da marca nos carros da equipe</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Promoção em nossas redes sociais</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Presença no nosso site</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Menção nas transmissões ao vivo dos pilotos</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Anúncio nos nossos cards</p>
      </li>
    </ul>
    <button class="action" type="button">Solicite</button>
  </section>

  <section class="card">
    <header>
      <h2 class="title">Diamond</h2>
      <h1 class="price">R$ 200,00</h1>
    </header>
    <p class="desc">1 slots</p>
    <p class="desc">* O período de contrato de patrocínio tem vigência de 6 meses. Como estamos em lançamento, serão 7 meses para os primeiros patrocinadores, com 20% de desconto para as renovações.</p>
    <ul class="lists">
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Exposição da marca nos carros da equipe</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Promoção em nossas redes sociais</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Presença no nosso site</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Menção nas transmissões ao vivo dos pilotos</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Anúncio nos nossos cards</p>
      </li>
    </ul>
    <button class="action" type="button">Solicite</button>
  </section>
</div>

<style>
:root {
  --primary-color: #0ea5e9;
  --secondary-color: #f8fafc;
  --accent-color: #020617;
}

.list p {
  margin-top: 0;
  font-size: larger;
}

.planos {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.card {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2rem;
  width: 350px;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--accent-color);
  padding: 1.5rem;
  font-family: Inter,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"!important
}

header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 700;
  color: rgba(248, 250, 252, 0.9);
}

.price {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin-top: 0;
  color: var(--secondary-color);
}

.desc {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
  word-wrap: break-word;
  color: rgba(248, 250, 252, 0.9);
  font-size: larger;
}

.lists {
  margin-bottom: 1.5rem;
  flex: 1 1 0%;
  color: rgba(248, 250, 252, 0.9);
}

.lists .list {
  margin-bottom: 0.5rem;
  display: flex;
  margin-left: -0.5rem;
}

.lists .list svg {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  color: #fe352f;
}

.action {
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0.5rem;
  background-color: #fe352f;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: larger;
}

.action:hover {
  background-color: #fe352f;
}
</style>
