<%= render 'shared/navbar' %>

<div class="container">
  <div class="card card0">
    <div class="border">
      <h2>A. Crepaldi #26</h2>
      <div class="icons">
        <a href="https://www.instagram.com/seu_perfil" target="_blank" title="Instagram">
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://www.twitch.tv/seu_perfil" target="_blank" title="Twitch">
          <i class="fab fa-twitch" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/seu_perfil" target="_blank" title="Youtube">
          <i class="fab fa-youtube" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="card card1">
    <div class="border">
      <h2>Ben Stiller</h2>
      <div class="icons">
        <a href="https://www.instagram.com/seu_perfil" target="_blank" title="Instagram">
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://www.twitch.tv/seu_perfil" target="_blank" title="Twitch">
          <i class="fab fa-twitch" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/seu_perfil" target="_blank" title="Youtube">
          <i class="fab fa-youtube" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="card card2">
    <div class="border">
      <h2>Patrick Stewart</h2>
      <div class="icons">
        <a href="https://www.instagram.com/seu_perfil" target="_blank" title="Instagram">
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://www.twitch.tv/seu_perfil" target="_blank" title="Twitch">
          <i class="fab fa-twitch" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/seu_perfil" target="_blank" title="Youtube">
          <i class="fab fa-youtube" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<style>
 .container {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.border:hover {
  border: 1px solid white;
}

.card {
  height: 379px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card0 {
  background: url('https://res.cloudinary.com/ddxlnxcu5/image/upload/v1726670293/Clipboard02_kmwvwd.png') center center no-repeat;
  background-size: 300px;
}

.card0:hover {
  background: url('https://res.cloudinary.com/ddxlnxcu5/image/upload/v1726670293/Clipboard02_kmwvwd.png') left center no-repeat;
  background-size: 600px;
}

.card1 {
  background: url('https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg') center center no-repeat;
  background-size: 300px;
}

.card1:hover {
  background: url('https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg') left center no-repeat;
  background-size: 600px;
}

.card2 {
  background: url('https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg') center center no-repeat;
  background-size: 300px;
}

.card2:hover {
  background: url('https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg') left center no-repeat;
  background-size: 600px;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.card:hover h2 {
  opacity: 1;
}

.fab {
  opacity: 0;
  transition: opacity 1s;
  color: white;
}

.fab:hover {
  transition: opacity 1s;
  color: red;
}

.card:hover .fab {
  opacity: 1;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

  </style>
