<%= render 'shared/navbar' %>

<div class="text-banner">
  <h1>
    <span>Get ready</span>
    <span>see beyond...</span>
    <span>more than just speed!</span>
    <span>This is motorsport...</span>
    <span>UNDER CONTROL <br> RACING</span>
  </h1>
</div>


<%= render 'shared/footer' %>

<style>
  
.text-banner {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: hsl(0deg 4.23% 5.43%);
  /* background-image: url("https://edoekv5ukp6.exactdn.com/wp-content/uploads/ACC_CAR-PORSCHE_992_GT3_R-4-1920x1080.jpg?strip=all&lossy=1&webp=92&sharp=1&ssl=1"); */
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  gap: 70px;
}

body {
  background: linear-gradient(to bottom, #485563ba, #29323c);
}

.footer {
  position: absolute !important;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');

*,
::before,
::after {
  box-sizing: border-box;
}

h1 {
  position: relative;
  white-space: nowrap;
  text-transform: uppercase;
  max-width: 50vw;
  text-align: center;
  font-size: 2.5vw;
  font-weight: 900;
  pointer-events: none;
  user-select: none;
}

h1 span {
  position: absolute;
  left: 5vw;
  color: transparent;
  background-image: linear-gradient(90deg, #ff8a00, #c8305f);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  animation: scale 4s cubic-bezier(.5, -.75, .7, 1.25) forwards;
}

h1 span:nth-child(2) {
  animation-delay: 2s;
}

h1 span:nth-child(3) {
  animation-delay: 4s;
}

h1 span:nth-child(4) {
  animation-delay: 6s;
}

h1 span:nth-child(5) {
  animation-delay: 8s;
}

h1 span:last-child {
  /* text-shadow: 20px -25px rgba(0, 0, 0, 0.2); */
  animation: fade 2s linear 10s forwards;
}


@keyframes scale {
  0% {
    opacity: 0.2;
    transform: scale(10);
    filter: blur(10px);
  }

  50%,
  85% {
    opacity: 0.8;
    transform: scale(1);
    filter: blur(0);
  }

  100% {
    opacity: 0;
    transform: rotateX(90deg);
    filter: blur(10px);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes dash {
  90% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 3000;
    stroke-dashoffset: 0;
  }
}

</style>
