<h1 class="page-title text-center">Escolha uma Pista</h1>

<div class="container-lg py-4">
  <div class="row">
    <% @tracks.each do |track_name| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body text-center">
            <h5 class="card-title"><%= track_name %></h5>
            <%= link_to "Ver sessões", track_sessions_drivers_path(track_name: track_name), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<style>
  .card {
    border-radius: 10px;
    border: none;
    transition: transform 0.3s;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card-title {
    font-size: 1.4rem;
    color: #2c3e50;
  }

  .btn {
    background-color: #2980b9;
    border: none;
    color: #fff;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #1a6a92;
  }

  .page-title {
    font-size: 2.2rem;
    color: #34495e;
    margin-bottom: 30px;
    font-weight: 600;
  }
</style>
